---
name: "lint"
on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  changed-files:
    # Get changed files to filter jobs
    outputs:
      yamlfmt: ${{ steps.changes.outputs.yamlfmt_any_changed == 'true' }}
      golang: ${{ steps.changes.outputs.golang_any_changed == 'true' }}
      renovate: ${{ steps.changes.outputs.renovate_any_changed == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: read
    steps:
      - uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: changes
        timeout-minutes: 3
        with:
          files_yaml: |
            yamlfmt:
              - '**.yml'
              - '**.yaml'
            golang:
              - '**.go'
              - 'go.mod'
              - 'go.sum'
            renovate:
              - 'renovate.json'
  golint:
    name: go lint
    needs: changed-files
    if: ${{ needs.changed-files.outputs.golang == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: setup go
        timeout-minutes: 3
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - name: setup aqua
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        timeout-minutes: 3
        with:
          aqua_version: v2.56.5
      - name: golangci-lint
        timeout-minutes: 5
        run: golangci-lint run
  gotest:
    name: go test
    needs: changed-files
    if: ${{ needs.changed-files.outputs.golang == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: setup go
        timeout-minutes: 3
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - name: go test
        timeout-minutes: 5
        run: go test ./...
  typos:
    name: "Typos"
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'renovate[bot]' }}
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        timeout-minutes: 3
        with:
          aqua_version: v2.56.5
      - name: typos
        timeout-minutes: 3
        run: |
          typos --config .typos.toml .
  yamlfmt:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.yamlfmt == 'true' && github.actor != 'renovate[bot]' }}
    name: "Yaml"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        timeout-minutes: 3
        with:
          aqua_version: v2.56.5
      - name: yamlfmt
        timeout-minutes: 3
        run: |
          yamlfmt -lint .
  renovate:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.renovate == 'true' && github.actor != 'renovate[bot]' }}
    name: "Renovate validate"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          strict: "true"
